{% import 'lib/di.twig' as di %}
<?php

declare(strict_types=1);

namespace Drupal\{{ machine_name }}\HookHandler\{{ hook_type }};

{% if services %}
{{ di.use(services, true) }}
{% endif %}
/**
 * Class {{ class }}.
 *
 * @package Drupal\{{ machine_name }}\HookHandler\{{ hook_type }}
 */
class {{ class }}{% if services %} implements ContainerInjectionInterface{% endif %} {
{% if services %}

{{ di.properties(services) }}

  /**
   * {{ class }} constructor.
   *
{{ di.annotation(services) }}
   */
  public function __construct({{ di.signature(services) }}) {
{{ di.assignment(services) }}
  }

  /**
   * {@inheritdoc}
   */
  public static function create(ContainerInterface $container) {
    return new static(
{{ di.container(services) }}
    );
  }
{% endif %}

  /**
   * {{ hook_method|capitalize }}.
   *
   * @see {{ machine_name }}_{{ hook }}()
   */
  public function {{ hook_method }}(/* @TODO add the arguments */): void {
    // @TODO implement your {{ hook_method }} logic.
  }

}
